<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>West Gate Lion--</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='estilos/styles.css' ) }}"/>
  <link rel="icon" 
      type="image/png" 
      href="{{url_for('static',filename='imagenes/logo.svg')}}">
</head>
<body>
  <header>
    <div class="container">
      <img src="{{url_for('static',filename='imagenes/logo.svg')}}" alt="Logo de la Consultora de Software" class="logo">
      <nav>
        <ul>
          <li><a href="#inicio">Inicio</a></li>
          <li><a href="#sobre-nosotros">Sobre Nosotros</a></li>
          <li><a href="#servicios">Servicios</a></li>
          <li><a href="#portafolio">Portafolio</a></li>          
          <li><a href="#contacto">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="inicio" class="inicio">
    <div class="container">
      <h2>Bienvenidos a nuestra consultora de software<br>
        West Gate Lion
      </h2>
      <p>Ofrecemos soluciones tecnológicas innovadoras para tu negocio.</p>
      <a href="#contacto" class="cta">Contáctanos</a>
    </div>
  </section>

  <section id="sobre-nosotros" class="sobre-nosotros">
    <div class="container">
      <h2>Sobre Nosotros</h2>
      <p>Somos una empresa dedicada a brindar soluciones de software de alta calidad.
      <br>Nuestro equipo de expertos trabaja para ofrecer soluciones que se adapten a las necesidades específicas de cada cliente.
    <br> </p>
      <img src="{{url_for('static',filename='imagenes/team.png')}}" alt="Nuestro equipo" class="team-photo">
    </div>
  </section>

  <section id="servicios" class="servicios">
    <div class="container">
      <h2>Servicios</h2>
      <ul>
        <li>
          <img src="images/service1.jpg" alt="Desarrollo de software a medida">
          <p>Desarrollo de software a medida</p>
        </li>
        <li>
          <img src="images/service2.jpg" alt="Consultoría en tecnología">
          <p>Consultoría en tecnología</p>
        </li>
        <li>
          <img src="images/service3.jpg" alt="Integración de sistemas">
          <p>Integración de sistemas</p>
        </li>
        <li>
          <img src="images/service4.jpg" alt="Diseño de sistema">
          <p>Diseño de sistema</p>
        </li>
        <li>
          <img src="{{url_for('static',filename='imagenes/rendimiento.svg')}}" alt="Sistemas de alto rendimiento">
          <p>Sistemas de alto rendimiento</p>
        </li>
        <li>
          <img src="{{url_for('static',filename='imagenes/disponible.svg')}}" alt="Sistemas de alta disponibilidad">
          <p>Sistemas de alta disponibilidad</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="portafolio" class="portafolio">
    <div class="container">
      <h2>Portafolio</h2>
      <div class="proyecto">
        <img src="{{url_for('static',filename='imagenes/chat.svg')}}" alt="Proyecto 1">
        <h3>Proyecto 1</h3>
        <p>Creacion de chatbot.</p>
      </div>
      <div class="proyecto">
        <img src="{{url_for('static',filename='imagenes/mongo.svg')}}" alt="Proyecto 2">
        <h3>Proyecto 2</h3>
        <p>Migracion de Base de Datos SQL a NoSql.</p>
      </div>
      <div class="proyecto">
        <img src="{{url_for('static',filename='imagenes/cloud.png')}}" alt="Proyecto 3">
        <h3>Proyecto 3</h3>
        <p>Migracion de servicios OnPermise a nube.</p>
      </div>
      <div class="proyecto">
        <img src="{{url_for('static',filename='imagenes/robot.svg')}}" alt="Proyecto 4">
        <h3>Proyecto 4</h3>
        <p>Programacion de robot asistente personal.</p>
      </div>
      
      <!-- Agrega más proyectos según sea necesario -->
    </div>
  </section>

  <section id="contacto" class="contacto">
    <div class="container">
      <h2 id="conta">Contacto</h2>
      <form action="{{ url_for('sendMail') }}" method="POST" autocomplete="off">
        
        <div class="row">
          <div class="form-group">
            <label id="nombre" class="form-text text-muted">Nombre</small>            
            <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="nombre" placeholder="Nombre" required>
            <br>
            <label id="email" class="form-text text-muted">Email</small>            
            <input type="email" class="form-control" name="email" id="email" aria-describedby="email" placeholder="Correo electrónico" required>
          <br>
            <label for="mensaje">Mensaje</label>
            <textarea class="form-control" name="mensaje" id="mensaje" rows="3" required></textarea>
          <br>
            <button type="submit" class="btn btn-primary">Submit</button> 
          </div>
                              
         
        
        
        </div>
        
        
      </form>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2024 West Gate Lion. Todos los derechos reservados.</p>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='scripts/scripts.js' ) }}"></script>
</body>
</html>